@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 5rem;
  font-family: "Pirata One", cursive;
  letter-spacing: 4px;
}

h2 {
  font-size: 3rem;
  font-family: "Pirata One", cursive;
  letter-spacing: 2px;
}

p {
  font-size: 1.3rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  width: 50%;
  border-top: 1px solid #f58a8f;
  margin: 1em auto;
  padding: 0;
}

footer {
  background: #1c1c1c;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 82vh;
  overflow: hidden;
}

.logo {
  width: 150px;
  height: 100%;
  justify-content: flex-start;
  padding: 1rem 2rem;
  pointer-events: none;
}

.nav-container {
  display: flex;
  width: 100%;
}

.nav-menu {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif;
}

header {
  display: flex;
  width: 100%;
  position: relative;
  background-color: black;
}

.nav-link {
  height: 10%;
  width: auto;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  background: transparent;
  margin: 60px 25px 18px 25px;
  text-decoration: none;
}

.nav-button {
  margin-left: auto;
}

.contact {
  box-shadow: none;
  border: 0;
  background-color: #f58a8f;
  width: auto;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 10px;
  cursor: pointer;
}

.contact:hover {
  background-color: rgba(245, 138, 143, 0.8);
}

nav {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: white;
}

.text {
  color: white;
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

.carousel-caption {
  top: 20%;
  bottom: 0;
}

.text h1 {
  padding-bottom: 25px;
}

.text-link {
  text-decoration: none;
  color: white;
}

.caption-title {
  font-size: 7rem;
}

.index-img {
  width: 100%;
  height: 82vh;
  filter: brightness(0.7);
}

.parallax {
  /* Set a specific height */
  height: 700px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tattoo {
  background-image: url("./images/parallax.jpg");
}

.windows {
  background-image: url("./images/windows.jpg");
}

.bio {
  padding: 120px 300px 60px;
  margin: 0 auto;
  text-align: center;
}

.bio > img {
  width: 100%;
  max-width: 750px;
  margin-bottom: 35px;
}

.contact-form-main {
  padding: 120px 300px 60px;
  margin: 0 auto;
}

.work-gallery {
  padding: 25px 300px 0;
  margin: 0 auto;
  text-align: center;
}

.services {
  padding: 120px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.services > img {
  width: 100%;
  max-width: 750px;
  margin-bottom: 35px;
}

.bio-title {
  font-size: 3rem;
  color: #15e6bb;
  text-align: center;
}

.bio-text {
  padding: 25px 60px 40px;
}

button {
  color: #15e6bb;
  background: black;
  border: 1px solid #15e6bb;
  padding: 15px 40px;
  transition: 0.3s ease-in;
}

button:hover {
  color: black;
  background: #15e6bb;
}

.text-link button {
  color: black;
  background: #15e6bb;
  border: 1px solid #15e6bb;
  padding: 15px 40px;
  transition: 0.3s ease-in;
  margin-top: 20px;
}

.text-link button:hover {
  transform: scale(1.05);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 22%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

.service-row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.service-row > img {
  width: 100%;
  max-width: 675px;
  margin-bottom: 35px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.container:hover .overlay {
  opacity: 0.7;
}

.overlay-text {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text button {
  color: white;
  font-size: 4rem;
  padding: 15px 20px;
  border: none;
  background: #15e6bb;
  margin-bottom: 15px;
  font-family: "Pirata One", cursive;
}

.footer-row {
  display: grid;
  grid-template-columns: 25% 55% 20%;
  grid-gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 80px 0 20px;
}
.footer-logo {
  grid-column: 1/2;
  margin: 0 auto;
}
.contact-col {
  grid-column: 2/3;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 62% 1fr;
  grid-template-rows: 30% 50% 20%;
  line-height: 1.65rem;
  font-size: 1.1rem;
  letter-spacing: 0.6px;
}

.footer-title {
  grid-column: 1/3;
  grid-row: 1/2;
}

.footer-title h4 {
  color: #f58a8f;
  font-size: 1.5rem;
}

.footer-title a {
  color: #f58a8f;
}

.logan {
  grid-column: 1/2;
  grid-row: 2/3;
}

.avondale {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
  padding: 0 0 40px;
  justify-content: space-evenly;
  align-items: center;
  color: #9b979a;
}

.footer-nav a {
  color: #9b979a;
  text-decoration: none;
}

.social {
  grid-column: 3/4;
}

.social img {
  width: 30px;
  margin: 0 10px;
}

.facebook {
  width: 20px !important;
}

form {
  display: block;
  margin: 0 auto;
  padding: 20px 20px;
  color: white;
  background: black;
}

label {
  margin-bottom: 5px;
  display: inline-block;
  font-size: 1.5rem;
}

input {
  margin-right: 20px;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  font-size: 1.5rem;
}

.form-text {
  width: 100%;
  height: 50px;
}

.home-submit {
  font-size: 1.4rem;
}

@media screen and (max-width: 1136px) {
  .form-text {
    width: 100%;
    height: 50px;
  }
  textarea {
    width: 100%;
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  main {
    padding-top: 75px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  header {
    position: relative;
  }
  .caption-title {
    font-size: 2.5rem;
    width: 100%;
  }

  .services {
    padding: 40px 0 40px;
  }

  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 70px;
    padding: 0;
    z-index: 999;
    background-color: black;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #ffb7b7;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-link {
    font-size: 1.2rem;
    text-align: center;
    line-height: 30px;
    width: 100%;
    display: table;
    margin: 20px 0;
  }
  .nav-link:hover {
    background-color: #ffb7b7;
    color: white;
    transition: all 0.4s ease-out;
  }
  .nav-link-btn {
    border: none;
    padding: 0;
    border-radius: 0;
    background: black;
    color: white;
    transition: all 0.4s ease-out;
  }

  .nav-link-btn:hover {
    border: none;
    padding: 0;
    border-radius: 0;
    background: black;
    color: white;
    transition: all 0.4s ease-out;
  }
  #mobile-menu {
    position: absolute;
    top: 60%;
    left: 5%;
    transform: translate(5%, 60%);
  }
  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logo {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .bio {
    padding: 20px 20px 60px;
  }

  .contact-form-main {
    padding: 20px 20px;
  }

  .work-gallery {
    padding: 20px 0;
  }
  .services {
    flex-direction: column;
  }

  .text-link {
    padding: 0;
  }

  .index-img {
    height: 40vh;
  }

  .text {
    top: 28%;
  }

  .text h1 {
    padding-bottom: 0;
  }

  .footer-row {
    display: flex;
    flex-direction: column;
  }

  .contact-col {
    grid-template-columns: 1fr 1fr;
  }

  .footer-nav {
    width: 90%;
  }

  .contact {
    font-size: 1.2rem;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
